{% extends 'main.html' %}

{% block content %}

<h1>Home Template</h1>

<div>

    <a href="{% url 'create-room' %}">Create Room</a>
    <div>
        <a href="{% url 'update-room' room.id %}">Edit</a>
        <a href="{% url 'delete-room' room.id %}">Delete</a>
        {% for room in rooms %}
        <span>@{{room.host.username}}</span>
        {% for room in rooms %}
            <div></div>
                <h5>{{room.id}} --- <a href="{% url 'room' room.id %}">{{room.name}}<a href="/"> </h5>
                <small>{{room.topic.name}}</small>
                <hr>
        {% endfor %}
    </div>
</div>

{% endblock %}